*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior:smooth;
}

body {
    font-size: 4vh;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px;
    background-color: rgb(204, 212, 221);
}

h2 {
    font-size: 1.75em;
    background-color:lightsteelblue;
}

p {
    font-size: .40em;
}

.top-container {
    background-color: rgba(25,91,215,0.84);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
 
.title {
    /* background-color: lime; */
    flex: 1 1 50%;
    align-self: center;
    padding: 10px;
    text-align: center;
    font-size: 2.75em;
}

.nav-container {
    flex: 1 1 50%;
    /* background-color: orchid; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1.50em;
    flex-direction: row;
}

.navbar {
    /* background-color: magenta; */
    flex: 1 1 33.3%;
    text-align: center;
    text-decoration: none;
     
}

/* main {
    display: flex;
} */

/* .sect1 {
    display: flex;
    
} */

.aboutme {
    display: flex;
    flex-direction: row;
    
}

.blueshirt {
    /* flex: 1 1 200px; */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    max-width: 400px;
    align-self: center;
    padding: 10px;
    background-color: green;
    
}

.split {
   flex: 1 1 50px;
   display: flex; 
   flex-direction: column;
   
}

.split h2 {
    flex: 1 1 25px;
    text-align: center;
}

.split p {
    flex: 1 1 500px;
    font-size: .70em;
    text-align: justify;
    
}

/* .sect2 {
    display: flex;
    flex-direction: column;
} */

.works1 {
    display: flex;
    flex-direction: column;
    /* background-color: violet; */
    
}
.works1 h2 {
    flex: 1 1 10%;
    text-align: center;
    
}

.portf {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    flex-wrap: wrap;
    height: 600px;
        
}   

.portf .web-large {
    flex: 1 1 100%;
    align-items: flex-start;
    /* height: 500px; */
    /* height: 700px; */
}

.portf .web-1 {
    flex: 1 1 100%;
}

.portf .web-2 {
    flex: 1 1 100%;
}

.portf .web-3 {
    flex: 1 1 100%;
}

.portf .web-4 {
    flex: 1 1 100%;
}

/********* Works styling for the photos  *****/
.web-large {
    margin: 5px;
    background: url(/assets/images/obi-onyeador-xA1l7OCKL4Q-unsplash_small3.jpg);
    background-repeat: no-repeat;
    background-size: 400px 600px;
    text-decoration: none;
    color: black;
}

.link1 a:link {
    color: white;
    text-decoration: none;
}

figure a:visited {
    text-decoration: none;
}

.web-1 {
    margin: 5px;
    background: url(/assets/images/heylagostechie-YgOCJz9uGMk-unsplash_small2.jpg);
    background-repeat: no-repeat;
    background-size: 400px 400px;
    text-decoration: none;
    color: white;
}

.web-2 {
    margin: 5px;
    background: url(/assets/images/joan-gamell-ZS67i1HLllo-unsplash_large.jpg);
    background-repeat: no-repeat;
    background-size: 400px 400px;
    text-decoration: none;
    color: white;
}

.web-3 {
    margin: 5px;
    background: url(/assets/images/sigmund-wWpsETBAY_U-unsplash_small4.jpg);
    background-repeat:no-repeat;
    background-size: 400px 400px;
    text-decoration: none;
    color: white;
}

.web-4 {
    margin: 5px;
    background: url(/assets/images/michael-dziedzic--Rc6usOigMk-unsplash_small4a.jpg);
    background-repeat: no-repeat;
    background-size: 400px 400px;
    text-decoration: none;
    color: white;
}

.contact1 {
    display: flex;
    height: 175px;
    flex-direction: column;
    text-align: center;
    font-size: .90em;
}

.contact1 h2 a {
    flex: 1 1 100%;
    
}

footer p {
    font-size: .65em;
    text-align: right;
}


/* Media Queries ***********************************/
/* Media Queries Large Screen*/
@media screen and (max-width: 992px){
    .title {
        font-size: 2.25em;
    }
    .navbar {
        font-size: 1.25em;
    }

    .aboutme {
        flex-direction: column;
    }

    .split p {
        font-size: .65em;
    }

    .portf {
        height: 500px;
    }

    .web-large {
        background-size: 400px 500px;
        font-size: .7em;
    }
    
    .web-1, .web-2, .web-3, .web-4 {
        background-size: 275px 275px;
        font-size: .6em;
    }


}

/* Media Queries Medium Screen */
@media screen and (max-width: 768px){
    .title {
        font-size: 1.75em;
    }
    .navbar {
        font-size: .95em;
    }

    .portf {
        height: 450px;
    }

    .web-large {
        background-size: 375px 450px;
        font-size: .6em;
    }
    
    .web-1, .web-2, .web-3, .web-4 {
        background-size: 175px 175px;
        font-size: .5em;
    }
}

/* Media Queries Medium-Small Screen */
@media screen and (max-width: 576px){
    .title {
        font-size: 1.45em;
    }
    .navbar {
        font-size: .75em;
    }

    .portf {
        height: 250px;
    }

    .web-large {
        background-size: 175px 250px;
        font-size: .5em;
    }
    
    .web-1, .web-2, .web-3, .web-4 {
        background-size: 120px 120px;
        font-size: .4em;
    }
}

/* Media Queries Screen */
@media screen and (max-width: 320px){
    .title {
        font-size: .7em;
    }
    .nav-container {
        flex-direction: column;
    }
    .navbar {
        font-size: .4em;
    }

    .portf {
        height: 200px;
    }

    .web-large {
        background-size: 200px 100px;
        font-size: .4em;
    }
    
    .web-1, .web-2, .web-3, .web-4 {
        background-size: 75px 75px;
        font-size: .3em;
    }

    .contact1 {
        flex: 1 1 .50em;
    }







}
